body{
    height: 590px;
}
.slide_active{
    width: 200px;


}
.wrapper{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url("./img.kutubxona.png");
    background-size: auto;
    background-repeat: no-repeat;
}

.body_img{
 background-size:auto;
}